<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../static/index.js"></script>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/users/edit/{username}(username=${user.username})}" method="post" >
    <label for="username">Username: </label>
    <input type="text" name="username" th:value="${user.username}" />

    <label for="password">Password: </label>
    <input type="password" name="password" th:value="${user.password}" />

    <label for="email">Email: </label>
    <input type="email" name="email" th:value="${user.email}" />

    <label for="role">Role: </label>
    <select name="role" >
        <option value="ADMIN" th:if="${user.role == 'ADMIN'}">ADMIN</option>
        <option value="USER" th:if="${user.role == 'USER'}">USER</option>
    </select>

    <button type="submit">Submit</button>
</form>
</body>
</html>