<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Users List</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1>List of users</h1>
        <a href="/users/register" role="button" class="btn btn-primary">Add user </a>
    </div>
    <table class="mt-5 table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>View</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td><a class="link-primary" th:href="@{/users/{username}(username=${user.username})}">view</a></td>
            <td><a th:href="@{/users/edit/{username}(username=${user.username})}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>